
header{
    background-color: #12664F;
    padding: 0.3rem;
    color: #ffffff;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    text-align: center;
}

body{
    font-family: "Nunito Sans", sans-serif;
    background-color: #E1DABD;
}

li:hover{
    transform: scale(101%);
}

footer{
    text-align: center;
}

.img-avocado{
    width: 270px;
    border-radius: 15px;
}

div, span{
    /*background-color: rgba(137, 43, 226, 0.295);*/
    display: inline-block;
}

#ingredients{
    width: 800px;
}

#b_send{
    border-radius: 2px;
}

#b_send:hover{
    background-color: dodgerblue;
    color: aliceblue;
}