@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Teko:wght@300..700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');*/

*{
    font-family: "Teko", sans-serif;
    /*font-family: "PT Sans Narrow", sans-serif;*/
    font-optical-sizing: auto;
}

/*Estilos para el header*/

header{
    display: flex;
    background-color: #1c0021;
    color: white;
    padding: 1rem 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.header-image-container{
    width: 5rem;
    /*background-color: white;
    border-radius: 100%;
    border: 1px solid crimson;*/
}

.header-image-container img{
    width: 100%;
}

header form{
    width: 45%;
}

header form input{
    width: 80%;
    padding: 0.5rem 1rem;
    border: none;
    transition: 200ms;
    border: 1px solid rgba(220, 20, 60, 0);
    border-radius: 100vw 0 0 100vw;
    font-style: italic;
}

header form input:focus{
    border: 1px solid rgba(220, 20, 60, 0.51);
    outline: none;
    font-weight: bold;
}

header form button{
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    color: white;
    border-radius: 0 100vw 100vw 0;
    padding: 0.5rem 1rem;
    transition: 200ms;
    font-style: italic;
    font-weight: 500;
}

header form button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #7037cd;
}

header ul{
    display: flex;
    gap: 2rem;
}

header ul li{
    transition: 200ms;
    font-style: italic;
    font-size: 20px;
}

header ul li:hover{
    transform: scale(1.2);
}

ul, ol{
    list-style: none;
}

/* Estilos para tarjetas horizontales*/

.facts-principal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 3rem;
}

.fact-card{
    display: flex;
    width: 80%;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-radius: 10px;
    transition: 200ms;
}

.fact-card:hover{
    background-color: rgb(26, 26, 26);
    transform: translateY(-10px);
    box-shadow: 28px 25px 0px -6px #dc123a;
}

.fact-info-card{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}

.fact-icon-container{
    width: 3rem;
}

.fact-icon-container img{
    width: 100%;
}

.fact-img-container{
    width: 35%;
}

.fact-img-container img{
    width: 100%;
    border-radius: 10px;
}

/*Estilos aplicados a tarjetas verticales*/
.principal-cards-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.one-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*display: inline-block;*/
    /*background-color: #240047;*/
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: #FFFF;
    width: 35rem;
    padding: 2rem;
    /*margin: 2.5rem;*/
    border-radius: 10px;
    box-sizing: border-box;
}

/*.image-card-container{
    width: 100%;
}*/

.image-card-container img{
    width: 100%;
    border-radius: 5px;
}

/*.info-card{
    margin: 1rem 0;
}*/

.info-card h1{
    font-size: 30px;
    font-style: italic;
}

.info-card p{
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
}

.one-card-container button{
    /*font-family: "Roboto Condensed", sans-serif;*/
    font-weight: 500;
    font-style: italic;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 100vw;
    padding: 0.5rem 1rem;
    transition: 200ms;
    align-self: flex-end;
}

.one-card-container button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #680148;
}

/*Estilos para pie de pagina */

footer{
    background-color: #22537c;
    color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 4rem;
}

.footer-logo-container{
    width: 6rem;
}

.footer-logo-container img{
    width: 100%;
}

.links-containers{
    display: flex;
    font-weight: bold;
    gap: 3.5rem;
}

.links-containers li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logos-container{
    display: flex;
    gap: 3.5rem;
}

.logos-container li{
    width: 4rem;
}

.logos-container img{
    width: 100%;
    transition: 200ms;
    border-radius: 10%;
}

.logos-container img:hover{
    transform: scale(1.2);
}